<html>
    <head>
        <title>RCOS Dashboard</title>
        <style type="text/css">
          table {
            margin-right: 1em;
          }

          h1 {
            text-align: center;
          }
            th {
                font-weight: bold;
                font-size: large;
                padding-left: 0.5em;
                padding-right: 0.5em;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            td {
                padding:0.25em;
                text-align: center;
            }

            td.no {
                background-color: red;
            }

            td.yes {
                background-color: #3F3;
            }

            #sidebar {
              float: right;
              width: 23em;
            }

            #sidebar ul {
              margin-top:-1em;
            }
        </style>
    </head>
    <body>
        <h1>RCOS Dashboard</h1>
        <div id="sidebar">
        <p>Welcome to the RCOS Dashboard, a listing of all of the known <a href="http://www.cs.rpi.edu/~moorthy/rcos/">Rensselaer Center for Open Source</a> projects during the Fall 2009 semester ranked by how recently they have been updated. Green means recent, yellow means older, orange means stale, and red means the project hasn't posted that component yet. To see the relationship between age and color, see the <a href="/key">key</a>.</p>
        <p>Of the <b><%= @stats['num_projects'] %></b> projects active in RCOS this semester,</p>
        <ul>
          <li><b><%= @stats['all_three'] %></b> have posted a blog, source code, and a wiki</li>
          <li><b><%= @stats['last_week'] %></b> have updated in the last week</li>
          <li><b><%= @stats['none'] %></b> have not posted anything yet</li>
        </ul>
        </div>
        <table border="1">
            <tr>
                <% COLUMNS.each do |col| %>
                    <th>
                        <%= col %>
                    </th>
                <% end %>
            </tr>

            <% @projects.each do |project| %>
                <tr>
                    <% COLUMNS.each do |col| %>
                        <td class="<%= value_class(col, project) %>" style="<%= value_style(col, project)%>"><%= render_column(col, project) %></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </body>
</html>
