<html>
    <head>
        <title>RCOS Project Monitor</title>
        <style type="text/css">
            th {
                font-weight: bold;
                font-size: large;
                padding: 0.75em;
            }

            th p {
                font-size: small;
                font-weight: normal;
                margin: 0px;
            }

            td {
                padding:0.25em;
                text-align: center;
            }

            td.no {
                background-color: red;
            }

            td.yes {
                background-color: #3F3;
            }
        </style>
    </head>
    <body>
        <h1>RCOS Project Monitor</h1>
        <%= @foo %>
        <table border="1">
            <tr>
                <% COLUMNS.each do |col| %>
                    <th>
                        <%= col %>
                    </th>
                <% end %>
            </tr>

            <% @projects.each do |project| %>
                <tr>
                    <% COLUMNS.each do |col| %>
                        <td class="<%= value_class(col, project) %>" style="<%= value_style(col, project)%>"><%= render_column(col, project) %></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </body>
</html>
