<% @title = @group.name + " Dashboard" %>
<div class="menu">
  <%= link_to 'Add project', new_group_project_url(@group) %> |
  <%= link_to 'Add personal blog', new_group_personal_blog_url(@group) %> |
  <%= link_to 'Blog aggregate', :action => :feed, :id => @group.id %> |
  <%= link_to 'Update', :action => :fetch, :id => @group.id %> |
  <%= link_to 'Admin', :action => :admin, :id => @group.id %>
</div>
<div id="description">
  <div id="stats">
    <p>Of the <strong><%= @stats['num_projects'] %></strong> projects active in <%= @group.name %> this semester,</p>
    <ul>
      <li><%= has_have @stats['last_week'] %> updated in the last week</li>
      <li><%= @stats['members'] %> contributors are represented</li>
      <% if @stats['none'] > 0 %>
        <li><%= has_have @stats['none'] %> not posted anything yet</li>
      <% end %>
    </ul>
  </div>
  <p><%= @group.description %></p>
</div>
<table class="dashboard">
    <tr>
      <th>Name</th>
      <th>Contributors</th>
      <th>Blog</th>
      <th>Source code</th>
      <th>Wiki</th>
    </tr>

    <% @projects.each do |project| %>
        <tr>
          <td><%= linked_name(project) %></td>
          <td><%= h(project.contributors).gsub(',', "<br>") %></td>
          <td style="background-color: <%= color_from_age(project.blog_age) %>">
            <%= linked_blog(project) %>
          </td>
          <td style="background-color: <%= color_from_age(project.source_code_age) %>">
            <%= linked_source_code(project) %>
          </td>
          <td class="green">
            <% if project.wiki and not project.wiki.empty? -%>
              <a href="<%= h project.wiki %>">Go to wiki</a>
            <% else -%>
              None
            <% end %>
          </td>
        </tr>
    <% end %>
</table>

