<% @title = "RCOS Dashboard" -%>
<% content_for :head do %>
	<%= auto_discovery_link_tag(:atom, :format => :atom) %>
<% end %>
<div class="article">
	<h3><%= link_to @event.title, @event.permalink %></h3>
	<div class="post_summary">
		<%= @event.content %>
		<div class="post_readmore">
			Read this post at the 
			<%= link_to @event.event_producer.name + " website", @event.permalink %>.
		</div>
	</div>
	<div class="post_details">
		<div class="post_datestamp">
			<div class="post_date"><%= day(@event.created_at) %></div>
			<div class="post_month"><%= @event.created_at.strftime('%B') %></div>
		</div>
		<div class="post_project"><%= @event.event_producer.name %></div>
	</div>
	<hr />
	<%= link_to "Back to RCOS Blogs", :action => :index %>
</div>