<% @title = "RCOS Blog Aggregate" -%>
<% content_for :head do %>
<%= auto_discovery_link_tag(:atom, :format => :atom) %>
<% end %>
<% @events.each do |event| -%>
  <div class="article">
    <div class="post_summary">
      <h3><%= link_to event.title, event.permalink %></h3>
      <%= event.summary || event.content %>
    </div>
    <div class="post_details">
      <div class="post_datestamp">
        <div class="post_date"><%= event.created_at.strftime('%d') %></div>
        <div class="post_month"><%= event.created_at.strftime('%B') %></div>
      </div>
      <div class="post_project"><%= event.project.name %></div>
    </div>
    <hr />
  </div>
<% end -%>
<%= will_paginate @events, :previous_label => '« Newer', :next_label => 'Older »',
  :page_links => false %>
