<% @title = 'Editing ' + @project.name %>

<% if flash[:notice] %>
  <div class="notice" style="padding:5px; background-color:#FFAAAA; border: 2px solid red"><%= flash[:notice] %></div>
<% end %>

<% form_for @project do |f| %>
  <p>
  <%= f.label :name %>:
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :contributors %>:
  <%= f.text_field :contributors %>
  </p>
  <p>
  <%= f.label :blog, "Blog URL" %>:
  <%= f.text_field :blog, :size => 50 %>
  </p>
  <p>
  <%= f.label :blog_feed %>:
  <%= f.text_field :blog_feed, :size => 50 %>
  </p>
  <p>
  <%= f.label :source_code %>:
  <%= f.text_field :source_code, :size => 50 %>
  </p>
  <p>
  <%= f.label :source_code_feed %>:
  <%= f.text_field :source_code_feed, :size => 50 %>
  </p>
  <%= f.label :website %>:
  <%= f.text_field :website, :size => 50 %>
  </p>
  <p>
  <%= f.label :wiki %>:
  <%= f.text_field :wiki, :size => 80 %>
  </p>
  <p>
  <%= f.label :description %>:<br>
  <%= f.text_area :description, :rows => 5, :cols => 80 %>
  </p>

  <p>
  <%= label_tag 'password', 'Password:' %>
  <%= text_field_tag 'password' %>
  </p>

  <%= f.submit 'Save' %>
<% end %>
