<% @title = "New personal blog" %>

<% form_for(@personal_blog) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :weblink, "Web URL" %><br />
    <%= f.text_field :weblink %>
  </p>
  <p>
    <%= f.label :feed, "Feed URL" %><br />
    <%= f.text_field :feed %>
  </p>
  <p>
    <%= f.hidden_field :group_id %>
    <%= f.submit 'Create' %>
  </p>
<% end %>
