<html>
    <head>
        <title>RCOS Dashboard</title>
        <script src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">
          google.load("jquery", "1");
          google.load("jqueryui", "1");
          google.setOnLoadCallback(function(){
              $('.edit_link').hide();
              $('td.name').mouseenter(function(){
                $(this).find('.edit_link').show('blind');
                });
              $('td.name').mouseleave(function(){
                $(this).find('.edit_link').hide('blind');
                });
              });
        </script>
        <style type="text/css">
          table {
            margin-right: 1em;
          }

          h1 {
            text-align: center;
          }
            th {
                font-weight: bold;
                font-size: large;
                padding-left: 0.5em;
                padding-right: 0.5em;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            td {
                padding:0.25em;
                text-align: center;
            }

            td.no {
                background-color: red;
            }

            td.yes {
                background-color: #3F3;
            }

            #description > p {
              width:60%;
            }

            #stats {
              float: right;
              width: 40%;
              margin-left: 5em;
            }

            #stats p {
              margin: 0px;
            }

            #stats ul {
              margin: 0px;
            }

            .edit_link form {
              margin:0px;
        </style>
    </head>
    <body>
        <h1>RCOS Dashboard</h1>
        <div id="description">
          <div id="stats">
            <p>Of the <b><%= @stats['num_projects'] %></b> projects active in RCOS this semester,</p>
            <ul>
              <li><b><%= @stats['all_three'] %></b> have posted a blog, source code, and a wiki</li>
              <li><b><%= @stats['last_week'] %></b> have updated in the last week</li>
              <li><b><%= @stats['none'] %></b> have not posted anything yet</li>
            </ul>
          </div>
          <p>Welcome to the RCOS Dashboard, a listing of all of the <a href="http://www.cs.rpi.edu/~moorthy/rcos/">Rensselaer Center for Open Source</a> projects of the Spring 2010 semester ranked by how recently they have been updated. Green means recent, yellow means older, orange means stale, and red means the project hasn't posted that component yet.</p>
        </div>
        <table border="1">
            <tr>
                <% Project.display_columns.map{|name| name.gsub('_', ' ').capitalize}.each do |col| %>
                    <th><%= col %></th>
                <% end %>
            </tr>

            <% @projects.each do |project| %>
                <tr>
                    <% Project.display_columns.each do |col| %>
                      <td class="<%= value_class(col, project) %>"
                        style="<%= value_style(col, project)%>">
                        <%= column_contents(col, project) %>
                      </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </body>
</html>
