<% content_for :head do %>
  <%= javascript_include_tag 'jquery' %>
  <script type="text/javascript">
    $(function(){
        $('#hosting').change(function(){
          $('.hosting').hide();
          $("#hosting_"+this.value.replace(" ", "_")).show();
          });
        });
</script>

<style type="text/css">
  tr.hosting {
    display: none;
  }

  #hosting_custom {
    display: table-row;
  }

  table#project_entry th {
    width: 8em;
    text-align: right;
    padding-right: 1em;
  }

  em {
    font-size: 80%;
    font-weight: normal;
  }

  table {
    margin: auto;
  }
</style>
<% end %>

<h1>New Project</h1>
<% form_tag :action => 'create' do %>
  <table id="project_entry">
    <tr>
      <th><%= label_tag :name %></th>
      <td><%= text_field_tag :name %></td>
    </tr>
    <tr>
      <th><%= label_tag :contributors, "Contributors<br><em>(comma-separated)</em>" %></th>
      <td><%= text_field_tag :contributors %></td>

    <tr>
      <th><%= label_tag :hosting %></th>
      <td><%= select_tag :hosting, options_for_select(HostingType.enumerate) %></td>
    </tr>
    <tr class="hosting" id="hosting_GitHub">
      <th><%= label_tag :github, "Project name<br><em>(e.g. epall/tracks)</em>" %> </th>
      <td><%= text_field_tag :github %></td>
    </tr>
    <tr class="hosting" id="hosting_Redmine">
      <th><%= label_tag :redmine_home, "Redmine home" %></th>
      <td><%= text_field_tag :redmine_home %></td>
    </tr>
    <tr class="hosting" id="hosting_custom">
      <th><%= label_tag :custom_url, "Source Code URL" %></th>
      <td><%= text_field_tag :custom_url %></td>
    </tr>

    <tr>
      <td style="text-align:center" colspan="2"><%= submit_tag "Create" %></td>
    </tr>
  </table>
<% end %>
