<% content_for :head do %>
  <%= javascript_include_tag 'jquery' %>
  <script type="text/javascript">
    $(function(){
        $('#hosting').change(function(){
          $('.hosting').hide();
          $('.hosting.'+this.value.replace(' ', '_')).show();

          if(this.value == 'Redmine'){
            $('#blog_info').hide();
          }
          else{
            $('#blog_info').show();
          }
          });
        });
  </script>
<% end %>
<% content_for :onload do %>
  onload="$('.hosting.GitHub').hide();
  $('.hosting.Google_Code').hide();
  $('.hosting.Redmine').hide();"
<% end %>

<h2>New Project</h2>
<% form_tag({:action => 'create'}, :id => 'project') do %>
  <div id="project_main">
    <div class="formleftcol">
      <%= label_tag :name, 'Project Title' %><br>
      <%= text_field_tag :name %><br>

      <%= label_tag :contributors, "Contributors <em>(comma-separated)</em>" %><br>
      <%= text_field_tag :contributors %><br>
      <div id="blog_info">
        <%= label_tag :blog_url, "Blog URL <em>(e.g. http://ngodb.blogspot.com/)</em>" %><br>
        <%= text_field_tag :blog_url %><br>
      </div>
    </div>
    <div class="formrightcol">
      <%= label_tag :hosting %><br>
      <%= select_tag :hosting, options_for_select(HostingType.enumerate) %><br>
      
      <div class="hosting GitHub">
        <%= label_tag :github, "Project name <em>(e.g. epall/tracks)</em>" %><br>
        <%= text_field_tag :github %><br>
      </div>
      
      <div class="hosting Redmine">
        <label for="redmine_home">Redmine home <em>(e.g. http://rpinventory.com/projects/show/rpinventory)</label><br>
        <%= text_field_tag :redmine_home %><br>
      </div>
      <div class="hosting custom">
        <%= label_tag :custom_url, "Source Code URL" %><br>
        <%= text_field_tag :custom_url %><br>

        <%= label_tag :custom_wiki, "Wiki URL" %><br>
        <%= text_field_tag :custom_wiki %><br>
      </div>
      
      <div class="hosting Google_Code">
        <label for="googlecode">Project Name <em>(e.g. dplms)</em></label><br>
        <%= text_field_tag :googlecode %><br>
      </div>
    </div>
  </div>
  <hr style='width="100%"'>
  <div id="project_bottom">
    <%= submit_tag "Create this project" %>
  </div>
<% end %>
