<% @title = 'Group admin' %>
<h2>Projects</h2>
<table cellspacing="1" border="1" cellpadding="5">
  <tr>
    <th>Project</th>
    <th>Contributors</th>
    <th># of presentations</th>
    <th>Actions</th>
  <% @group.projects.each do |project| -%>
    <tr>
      <td><%= project.name %></td>
      <td width="50%"><%= project.contributors %></td>
      <td style="text-align:center"><%= project.presentation_count %>
      <%= button_to("+", :controller => :project, :action => :add_presentation, :id => project.id) %></td>
      <td>
        <%= link_to 'Edit', :controller => :project, :action => :edit, :id => project.id %>
        <%= link_to("Approve", approve_url(project)) unless project.approved? %>
      </td>
    </tr>
  <% end -%>
</table>
<h2>Personal blogs</h2>
<table cellspacing="1" border="1" cellpadding="5">
  <tr>
    <th>Name</th>
    <th>Web URL</th>
    <th>Feed URL</th>
    <th>Actions</th>
  <% @group.personal_blogs.each do |blog| -%>
    <tr>
      <td><%= blog.name %></td>
      <td><%= blog.weblink %></td>
      <td><%= blog.feed %></td>
      <td>
        <%= link_to 'Edit', :controller => :personal_blogs, :action => :edit, :id => blog.id %>
        <%= link_to("Approve", :controller => :personal_blogs, :action => :approve, :id => blog.id) unless blog.approved? %>
      </td>
    </tr>
  <% end -%>
</table>
