<% @title = @group.name + " Dashboard" %>
<div class="menu">
  <%= link_to 'Add project', :controller => :project, :action => :new %> |
  <%= link_to 'Blog aggregate', :controller => :events %> |
  <%= link_to 'Update', :controller => :project, :action => :fetch %> |
  <%= link_to 'Admin', :action => :admin, :id => @group.id %>
</div>
<div id="description">
  <div id="stats">
    <p>Of the <strong><%= @stats['num_projects'] %></strong> projects active in <%= @group.name %> this semester,</p>
    <ul>
      <li><%= has_have @stats['all_three'] %> posted a blog, source code, and a wiki</li>
      <li><%= has_have @stats['last_week'] %> updated in the last week</li>
      <% if @stats['none'] > 0 %>
        <li><%= has_have @stats['none'] %> not posted anything yet</li>
      <% end %>
    </ul>
  </div>
  <p><%= @group.description %></p>
</div>
<table>
    <tr>
        <% Project.display_columns.map{|name| name.gsub('_', ' ').capitalize}.each do |col| %>
            <th><%= col %></th>
        <% end %>
    </tr>

    <% @projects.each do |project| %>
        <tr>
            <% Project.display_columns.each do |col| %>
              <td class="<%= value_class(col, project) %>"
                style="<%= value_style(col, project)%>">
                <%= column_contents(col, project) %>
              </td>
            <% end %>
        </tr>
    <% end %>
</table>

