<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>RCOS Dashboard : <%= @title || params[:action].capitalize %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery", "1");
      google.load("jqueryui", "1");
    </script>

    <style type="text/css">
      #hosting-container p {
        display: none;
      }

      #hosting-container #redmine-url {
        display: block;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    <%= yield :head %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1><%= @title %></h1>
        <ul>
          <li><%= link_to("Blogs", :controller => :groups, :action => :feed, :id => Group.last.id)%></li>
          <li><%= link_to("Projects", :controller => :groups, :action => :dashboard, :id => Group.last.id)%></li>
        </ul>
      </div>
      <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
      <div id="content">
        <%= yield %>
      </div>
      <% unless params[:action] == 'new' %>
      <div id="footer">
        OSS Dashboard is written by <a href="http://hackerengineer.net/">Eric Allen</a> and sponsored by the <a href="http://rcos.rpi.edu/">Rensselaer Center for Open Source</a>
      </div>
      <% end %>
    </div>
  </body>
</html>
