<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>RCOS Dashboard : <%= params[:action].capitalize %></title>

    <script src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery", "1");
      google.load("jqueryui", "1");
    </script>
	<%= yield :head %>

    <style type="text/css">
      #hosting-container p {
        display: none;
      }

      #hosting-container #redmine-url {
        display: block;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body <%= yield :onload %>>
    <div id="container">
      <div id="header">
        <h1><%= @title %></h1>
        <ul>
          <li><%= link_to("Blogs", :controller => 'events')%></li>
          <li><%= link_to("Projects", :controller => 'group')%></li>
        </ul>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
